<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<div *ngFor="let car of cars">
{{car.make}} {{car.model}}  with a mileage of {{car.miles}}
</div>

<button (click)="saySomething()"> Say Something </button>

<div class="container">
<div class="number-display">
  {{counter}}
</div>
  <button (click)="increment()"> increment </button>
</div>
<div class="display">
{{phrase}}
</div>
<button (click)="update()"> click me </button>

<div class="container">
<div class="display">
  {{username}}
</div>
<input [(ngModel)]="username" placeholder="enter a username">
</div>